################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LibNova/obj
/Test/obj
/clibnova/x64/Debug
/x64/Debug
/clibnova/Debug
/Debug
